.banner {
  max-width: 1240px;
  width: 100%;
  .img {
    img {
      width: 100%;
      height: 400px;
      background-position: center;
      overflow: hidden;
    }
  }
  .fadeIn {
    animation: EaseIn 2s;
    -webkit-animation: EaseIn 2s;
    -moz-animation: EaseIn 2s;
    -o-animation: EaseIn 2s;
    -ms-animation: EaseIn 2s;
  }
}

@keyframes EaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes EaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes EaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes EaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes EaseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
