.footer {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  position: relative;
  .footerContainer {
    width: 1440px;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  p {
    color: white;
    position: absolute;
    bottom: 10px;
  }
}
